@model Tkf_Complaint_System.Models.UC
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <!-- Your existing logo HTML -->
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">
                <!-- Add an id to easily target the logo in JavaScript -->
                @*                            <img id="appBrandLogo" src="/assets/img/avatars/1.png" alt="Brand Logo">
                *@
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TKF - Admin</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>


    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index","ClientInformationView")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Client Information</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index","District")" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","District")" class="menu-link">
                        <div data-i18n="Account">Districts</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index","City")" class="menu-link">
                        <div data-i18n="Notifications">City</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index","UCs")" class="menu-link">
                        <div data-i18n="Notifications">UCs</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="pages-account-settings-connections.html" class="menu-link">
                        <div data-i18n="Connections">Connections</div>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</aside>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-7 mb-4 order-0">

            <h2>Create UC</h2>

            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="UCName"></label>
                    <input asp-for="UCName" class="form-control" />
                    <span asp-validation-for="UCName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CityId"></label>
                    @Html.DropDownList("CityId", ViewBag.ProvinceList as SelectList, "Select a City", new { @class = "form-control" })
                    <span asp-validation-for="CityId" class="text-danger"></span>

                </div>
                <br />
                <button type="submit" class="btn btn-primary">Create UC</button>
            </form>
        </div>
        <div class="col-lg-5 mb-4 order-0">
        </div>
    </div>
</div>