@model Tkf_Complaint_System.Models.UC

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <!-- Your existing logo HTML -->
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">
                <!-- Add an id to easily target the logo in JavaScript -->
                @*                            <img id="appBrandLogo" src="/assets/img/avatars/1.png" alt="Brand Logo">
                *@
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TKF - Admin</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>


    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index","ClientInformationView")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Client Information</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index","District")" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Project Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="@Url.Action("Index","District")" class="menu-link">
                        <div data-i18n="Account">Districts</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index","City")" class="menu-link">
                        <div data-i18n="Notifications">City</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="@Url.Action("Index","UCs")" class="menu-link">
                        <div data-i18n="Notifications">UC</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="@Url.Action("CreateDistrict","District")" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Districts </div>
            </a>
        </li>

    </ul>
</aside>


<h1>Details</h1>

<div>
    <h4>UC</h4>
    <hr />
    <div class="container-xxl flex-grow-1 container-p-y">

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
    </dl>
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UCId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
