@model Tkf_Complaint_System.Models.ClientInformation
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Vertical Layouts</h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-12">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Basic Layout</h5>
                    <small class="text-muted float-end">Default label</small>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row"> 
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Client Type</label>
                                    <input type="text" class="form-control" id="@Model.ClientType" value="@Model.ClientType" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Gender</label>
                                    <input type="text" class="form-control" id="@Model.Gender" value="@Model.Gender" readonly />
                                </div>   
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Name</label>
                                    <input type="text" class="form-control" id="@Model.Name" value="@Model.Name" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Age Group</label>
                                    <input type="text" class="form-control" id="@Model.AgeGroup" value="@Model.AgeGroup" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Nationality</label>
                                    <input type="text" class="form-control" id="@Model.Nationality" value="@Model.Nationality" readonly />
                                </div>


                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Remarks By Admin</label>
                                    <textarea type="text" class="form-control" id="remarksBy" value=""></textarea>
                                </div>
                             
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">CNIC</label>
                                    <input type="text" class="form-control" id="@Model.CNIC" value="@Model.CNIC" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Mobile No</label>
                                    <input type="text" class="form-control" id="@Model.MobileNo" value="@Model.MobileNo" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Email</label>
                                    <input type="text" class="form-control" id="@Model.EmailID" value="@Model.EmailID" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Call Back Method</label>
                                    <input type="text" class="form-control" id="@Model.CallBackMethod" value="@Model.CallBackMethod" readonly />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Feedbacks</label>
                                    
                                        @foreach (var feedback in Model.Feedbacks)
                                        {
                                        <input type="text" class="form-control" id="@feedback.ComplaintFeedbackRemarks" value="@feedback.ComplaintFeedbackRemarks" readonly/>
                                        }
                                   
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Action</label>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                                                    type="button"
                                                    id="growthReportId"
                                                    data-bs-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                                <a class="dropdown-item" href="javascript:void(0);">Received</a>
                                                <a class="dropdown-item" href="javascript:void(0);">In Progress</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Rejected</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Responded</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Closed</a>
                                            </div>
                                        </div>
                                </div>



                            </div>
                            
                        </div>
                       
                      
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

       
    
    </div>
</div>